﻿body {
     font-family: "Lato", sans-serif;
}

      #menue
        {
            width: 913px;
            font-family: verdana, Segoe UI;
            padding: 10px;
            border: 1px solid #003b67;
            border-radius: 4px;
            margin-top: 50px;
        }
        #menue li
        {
            padding: 10px;
            background-color: #0099ff;
            float: left;
            margin: 0px;
            list-style: none;
        }
        #menue li  ul      {
            display:inline-block;
            float: left;
            position: relative;
            cursor: pointer;
        }
        
        #menue li a        {
            cursor: pointer;
            display: block;
            padding: 10px;
            float: left;
            color: #fff;
            text-decoration: none;
        }
        #menue ul li ul
        {
             padding: 10px;
            display: none;
            margin-top: 10px;
        }
        #menue ul li:hover ul
        {
            display: block;
            width: 200px;
            position: absolute;
            left: 0px;
            top: 25px;
            background: #FF6600;
            border: 1px solid #B34C00;
            border-top: none;
            color: #fff;
        }
        #menue  li:hover #menue  li
        {
            padding: 20px;
            float: none;
            display: block;
        }
#menue ul li:hover #menue li a {
    padding: 5px;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/*Style the sidenav links and the dropdown button*/ 
/*.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
/*
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px;  Sameas the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

       

