﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="Task2.Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="nav"  class="menu" style="width: 250px; margin-top:10px;">
        <%--<button type="button" value="click" onclick="BuildMenu()" >click</button>--%>
        <ul id="menue" class=""  dir="rtl" lang="ar">
         <li class=""> </li>
        </ul>

    </div>


    <script>
        $(document).ready(function() {
            GetMenu();
        });
        var tree ;
        function GetMenu() {
            jQuery.ajax({
                url: 'index.aspx/GetMenu',
                type: "POST",
                dataType: "json",
                data: {},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    let items = JSON.parse(data.d);
                    $('#menue').html('');
                    tree = unflattenToObject(items);
                 //   console.log(items[0]);
                    console.log(tree);
                
                    
                    dr('menue', tree);

                    $('#menue').menu();
                   

          //          document.addEventListener(
          //"#parentDiv", () => {
          //    new Mmenu("#menue");
      //    }
  //     );
               
         
                   
                    //console.log(arr);
                   // console.log(items[0].children);
                }
            });
        }

        function dr(id, childs) {
            console.log(childs.length);
            for (var key in childs) {
                let element = childs[key];
                let rootElement = $(`#${id}`);
                let liElement = `<li id='${key}'>${element.MenuName}</li>`;
                rootElement.append(liElement);
                console.log(element, rootElement, liElement);
                console.log(element.PathUrl);
                // console.log(childs[i]);
                if (!element.children  && element.MenuName == 'إضافة موظفين') {
                    $(`#${key}`).append(`<a href=${element.PathUrl} <ul id='ul${key}'> </ul> </a>`)
                }
                if (element.children ) {
                    // create a ul element and append it in .. 
                    $(`#${key}`).append(`<ul id='ul${key}'> <ul>`)
                    console.log($(`#${key}`));
                    dr('ul' + key, element.children);
                   
                }
               
               
                
            }
        }

        function Draw(item, element) {
            debugger
            $(element).append('<ul></ul>');
            $(element).find('ul').append('<a href="javascript:void(0)" onclick="GetMenu()"><li>' + item.MenuName + item.Levelid + item.Parentid + '</a></li>');
            if (item.children) {
                for (var i = 0; i <=item.length; i++) {
                    Draw(item[i], $(element).find('ul'));
                }
            }
        }

        

        unflattenToObject = function (array, parent) {
            var tree = {};
            parent = typeof parent !== 'undefined' ? parent : { id: 0 };

            var childrenArray = array.filter(function (child) {
                return child.Parentid == parent.id;
            });

            if (childrenArray.length > 0) {
                var childrenObject = {};
                // Transform children into a hash/object keyed on token
                childrenArray.forEach(function (child) {
                    childrenObject[child.id] = child;
                });
                if (parent.id == 0) {
                    tree = childrenObject;
                } else {
                    parent['children'] = childrenObject;
                }
                childrenArray.forEach(function (child) {
                    unflattenToObject(array, child);
                })
            }

            return tree;
        };

        var parentDiv = document.getElementById('parentDiv');
        function process(data) {
            var childDiv = document.createElement('div');
            var prevParent = childDiv; //initially the parent od all ul's should be div
            for (var i in data) {
                var id = data[i].id;
                var name = data[i].MenuName;
                var level = data[i].Levelid;
                var parentid = data[i].Parentid;
          //      if (parentid == 0) {
                    var ul = document.createElement('ul');
                   // var li = document.createElement('li');
                    var txt = document.createTextNode(name + ':' + parentid);

                  //  li.appendChild(txt);
                    ul.appendChild(txt);

                    prevParent.appendChild(ul);
                 //   prevParent = ul; //update the parent ul to which the next elements are added
                    //process(data,level+1);
            //   }
                }

            return childDiv;
          }




    </script>
</asp:Content>
